
    <div id="left-outer">
        <div id="left-inner">
            <img src="img/csxbluesquare.png" width="295"/>
            <br> <br>

            <a href="research.html">
                Research                                              </a> <br>

            <a href="papers.html">
                Publications                                          </a> <br>

            <a href="posts">
                Posts                                                 </a> <br>

        </div>
    </div>
