
<div id="right-outer">
<div id="right-inner">
    <div class="tabs">
        <br> <br> <div class="tab">
            Matthew Coolbeth &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            (mac01021) <br>
            SAIT : Division of Student Affairs<br>
            University of Connecticut <br>
            <br>
            <span>coolbeth</span>
            <span>@</span>
            <span>gmail</span>
            <span>.</span>
            <span>com</span>
        </div>


        <br> <br> <div class="tab">
            <a href="vitae.html">
                My CV
            </a>
        </div>
    </div>

</div>
</div>
