
            <div class="tabs">
                <br> <br> <div class="tab">
                    Matthew Coolbeth  <br>
                    2746 Hebron Ave<br>
                    Glastonbury, CT 06033 <br>
                    <br>
                    <span>coolbeth</span>
                    <span>@</span>
                    <span>gmail</span>
                    <span>.</span>
                    <span>com</span>
                </div>


                <br> <br> <div class="tab">
                    <a href="/vitae">
                    My CV
                    </a>
                </div>

                <br> <br> <div class="tab">
                    <a href="/vitae2">
                    My REAL CV
                    </a>
                </div>


                <br> <br> <div class="tab">
                    <h4> Posts </h4>
                    <ul>
                        {% for post in site.posts %}
                            <li>
                                <a href="{{ post.url }}">{{ post.date }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

