
{% assign dark_color = '#777733' %}
{% assign medium_color = '#d8d876' %}
{% assign light_color = '#ffffec' %}


body {
    background-color: {{ medium_color }};
}
#left-outer {
    background-color: {{ dark_color }};
}
#left-inner {
    background-color: {{ medium_color }};
}
#left-inner > a {
    background-color: {{ dark_color }};
    color: white;
    text-decoration: none;
}






#right-outer {
    background-color: {{ dark_color }};
}
#right-inner {
    background-color: {{ medium_color }};
}
#right-inner  div.tab {
    background-color: {{ dark_color }};
    color: white;
}
.tab   a {
    color: white;
    text-decoration: none;
}








#mid-outer {
    background-color: {{ light_color }};
}


