
<style type="text/css">

#left-outer {
    background-color: #777733;
}


#left-inner {
    background-color: #d8d876;
}

#left-inner > a {
    background-color: #777733;
    color: white;
    text-decoration: none;
}



#right-inner {
    background-color: #d8d876;
}


#right-inner  div.tab {
    background-color: #777733;
    color: white;
}

.tab > a {
    color: white;
    text-decoration: none;
}



#middle-back {
    background-color: #777733;
}


#content {
    background-color: #ffffec;
}






</style>

