


body {
    background-color: #d8d876;
}
#left-outer {
    background-color: #777733;
}
#left-inner {
    background-color: #d8d876;
}
#left-inner > a {
    background-color: #777733;
    color: white;
    text-decoration: none;
}






#right-outer {
    background-color: #777733;
}
#right-inner {
    background-color: #d8d876;
}
#right-inner  div.tab {
    background-color: #777733;
    color: white;
}
.tab   a {
    color: white;
    text-decoration: none;
}








#mid-outer {
    background-color: #ffffec;
}
#mid-inner {
    padding-left: 50px;
}


