
<style>
body {
    overflow: hidden;
}

#frame {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#left-outer {
    float: left;
    width: 300px;
    height: 100%;
    background-color: #004499;
}

#left-inner {
    margin-right: 5px;
    background-color: #0076d8;
    height: 100%;
}

#right-outer { height: 100%; }
#right-inner { background-color: #0076d8;
               height: 100%;
               padding-top: 10px;
               padding-left: 200px;
             }

#right-inner > div.tabs {
    float: left;
    height: auto;
    width: 275px;
}


#right-inner  div.tab {
    background-color: #004499;
    padding: 5px;
    color: white;
    width: 100%;
}

#right-inner > br {
    float: left;
}

#middle-back {
    float: left;
    width: 900px;
    height: 100%;
    background-color: #004499;
}


#left-inner > a {
    display: block;
    background-color: #004499;
    color: white;
    text-decoration: none;
    text-align: center;:w
}

#content {
    position: absolute;
    top: 0px;
    left: 300px;
    width: 767px;
    height: auto;
    background-color: #ececff;
    padding: 64px;
    z-index: 1;
}




</style>

