
<style type="text/css">

#left-outer {
    background-color: #773377;
}


#left-inner {
    background-color: #d876d8;
}

#left-inner > a {
    background-color: #773377;
    color: white;
    text-decoration: none;
}



#right-inner {
    background-color: #d876d8;
}


#right-inner  div.tab {
    background-color: #773377;
    color: white;
}

.tab > a {
    color: white;
    text-decoration: none;
}



#middle-back {
    background-color: #773377;
}


#content {
    background-color: #ffecff;
}






</style>

