<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> {{page.title}} </title>

<style type="text/css">
    {% include layout.css %}
</style>

<style type="text/css">
    {% include styles.css %}
</style>

</head>
<body>

    <div id="left-outer">
        <div id="left-inner">
            {% include left-banner-content.html %}
        </div>
    </div>

    <div id="mid-outer">
        <div id="mid-inner">
            {{content}}
        </div>
    </div>

    <div id="right-outer">
        <div id="right-inner">
            {% include right-banner-content.html %}
        </div>
    </div>



</body>
</html>
